@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #333333;
}

ul,
li {
  list-style: none;
}

main {
  background-color: #FAFAFA;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  padding: 0 55px 0 60px;
  margin: 0 0 0 240px;
}

.main-content {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 20px);
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.main-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 240px;
  padding: 40px 0 0 0;
  font-family: Open Sans, sans-serif;
  background-color: #F3F4F9;
  z-index: 5;
}

.menu__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 55px 0;
  padding: 0 0 0 40px;
  position: relative;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__logo span {
  margin: 0 0 0 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu__inner {
  margin: 0 50px 0 0;
}

.menu__item {
  padding: 0 0 0 40px;
  margin: 0 0 43px 0;
}

.menu__item.active {
  border-left: 3px solid #34ABE0;
}

.menu__item.active .link-menu__icon {
  stroke: #34ABE0;
}

.menu__item.active .link-menu__text {
  color: #34ABE0;
}

.menu__item:last-child {
  margin: 0;
}

.menu__button {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

.menu__burger {
  display: none;
}

.menu.active {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.menu.active .menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu.active .menu__logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu.active .link-menu__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu.active .menu__category {
  width: 100%;
}

.link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.link-menu__icon {
  margin: 0 10px 0 0;
  stroke: #000000;
  -webkit-transition: stroke 0.3s ease;
  -o-transition: stroke 0.3s ease;
  transition: stroke 0.3s ease;
}

.link-menu__text {
  font-weight: 600;
  line-height: 22px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.header__search input {
  width: 100%;
  height: 50px;
  padding: 0 0 0 40px;
  border: 1px solid #D6D6D6;
  border-radius: 25px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  outline: none;
}

.header__search input:focus {
  border: 1px solid #666666;
}

.header__search input::-webkit-input-placeholder {
  color: #9A9A9A;
}

.header__search input::-moz-placeholder {
  color: #9A9A9A;
}

.header__search input:-ms-input-placeholder {
  color: #9A9A9A;
}

.header__search input::-ms-input-placeholder {
  color: #9A9A9A;
}

.header__search input::placeholder {
  color: #9A9A9A;
}

.header.fixed {
  position: fixed;
  margin: 0;
  padding-left: 300px;
  width: 100%;
  z-index: 4;
}

.header.fixed .header__title {
  display: none;
}

.main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 347px;
          flex: 0 0 347px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(33.3% - 20px);
  margin: 0 20px 20px 0;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
  outline: none;
}

.main-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0 16px 20px;
  position: relative;
}

.main-card__title,
.main-card__sign,
.main-card__service {
  font-size: 16px;
  line-height: 16px;
}

.main-card__title {
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.main-card__sign,
.main-card__service {
  opacity: .5;
}

.main-card__discount {
  font-size: 36px;
  line-height: 28px;
  font-weight: 500;
  color: #DF212D;
}

.main-card__service {
  letter-spacing: .4em;
  text-transform: uppercase;
}

.main-card__img {
  width: 130px;
  height: 161px;
}

.main-card__img img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (hover: hover), screen and (min-width: 0\0) {
  .link-menu:hover .link-menu__icon,
  .link-menu:focus .link-menu__icon {
    stroke: #34ABE0;
  }

  .link-menu:hover .link-menu__text,
  .link-menu:focus .link-menu__text {
    color: #34ABE0;
  }

  .main-card:hover,
  .main-card:focus {
    border: 1px solid #DF212D;
  }
}

@media (max-width: 1439px) {
  .container {
    padding: 0 25px;
  }

  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 0 0 104px;
  }

  .menu {
    min-width: 104px;
    padding: 0;
  }

  .menu__head {
    margin: 0;
  }

  .menu__logo {
    margin: 40px 0 70px;
  }

  .menu__logo span {
    display: none;
    margin: 0 0 0 5px;
    font-size: 14px;
    line-height: 21px;
  }

  .menu__logo img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }

  .menu__inner {
    margin: 0 25px 0 0;
  }

  .menu__button {
    display: block;
  }

  .menu__burger {
    position: relative;
    width: 26px;
    height: 20px;
    display: block;
    top: -70px;
  }

  .menu__burger::before,
  .menu__burger::after,
  .menu__burger span {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #262626;
  }

  .menu__burger::before {
    top: 9px;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }

  .menu__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }

  .menu__burger.active span {
    display: none;
  }

  .link-menu__text {
    display: none;
  }

  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header__title {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header.fixed {
    padding-left: 200px;
  }

  .main-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 296px;
            flex: 0 0 296px;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 0 20px;
    margin: 0 0 0 20px;
  }

  .menu {
    min-width: 10px;
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  .menu__logo {
    display: none;
  }

  .menu__category {
    width: 12px;
  }

  .link-menu__icon {
    display: none;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__title {
    font-size: 24px;
    line-height: 32px;
  }

  .header__search input {
    padding: 0 0 0 15px;
    background-image: none;
  }

  .header__search input::-webkit-input-placeholder {
    font-size: 12px;
  }

  .header__search input::-moz-placeholder {
    font-size: 12px;
  }

  .header__search input:-ms-input-placeholder {
    font-size: 12px;
  }

  .header__search input::-ms-input-placeholder {
    font-size: 12px;
  }

  .header__search input::placeholder {
    font-size: 12px;
  }

  .header.fixed {
    padding-left: 90px;
  }

  .main-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 268px;
            flex: 0 0 268px;
  }

  .main-card__title,
  .main-card__sign,
  .main-card__service {
    font-size: 12px;
  }

  .main-card__discount {
    font-size: 28px;
    line-height: 24px;
  }

  .main-card__img {
    width: 120px;
  }
}