* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-family--roboto;

  &.lock {
    overflow: hidden;
    touch-action: none;
  }
}

a {
  text-decoration: none;
  color: $color-rider;
}

ul,
li {
  list-style: none;
}

main {
  background-color: $color-snow;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  &.active {

    .main,
    .header {
      transform: translateX(100px);
    }

    .header {
      @include viewport--sm {
        transform: translateX(150px);
      }
    }
  }
}


.container {
  padding: 0 55px 0 60px;
  margin: 0 0 0 240px;

  @include viewport--lg {
    padding: 0 25px;
  }

  @include viewport--md {
    margin: 0 0 0 104px;
  }

  @include viewport--sm {
    padding: 0 20px;
    margin: 0 0 0 20px;
  }
}

.main-content {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: -20px;

  &.active {
    display: flex;
  }
}
