.menu {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 240px;
  padding: 40px 0 0 0;
  font-family: Open Sans, sans-serif;
  background-color: $color-ghost-white;
  z-index: 5;

  @include viewport--md {
    min-width: 104px;
    padding: 0;
  }

  @include viewport--sm {
    min-width: 10px;
    transform: translateX(-20px);
  }

  &__head {
    display: flex;
    margin: 0 0 55px 0;
    padding: 0 0 0 40px;
    position: relative;

    @include viewport--md {
      margin: 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    align-self: center;

    @include viewport--md {
      margin: 40px 0 70px;
    }

    @include viewport--sm {
      display: none;
    }

    span {
      margin: 0 0 0 10px;
      text-transform: uppercase;
      font-weight: 600;

      @media(max-width:768px) {
        display: none;
        margin: 0 0 0 5px;
        font-size: 14px;
        line-height: 21px;
      }
    }

    img {
      @include viewport--md {
        width: 25px;
        height: 25px;
        margin-top: 5px;
      }
    }
  }

  &__category {
    @include viewport--sm {
      width: 12px;
    }
  }

  &__inner {
    margin: 0 50px 0 0;

    @include viewport--md {
      margin: 0 25px 0 0;
    }
  }

  &__item {
    padding: 0 0 0 40px;
    margin: 0 0 43px 0;

    &.active {
      border-left: 3px solid $color-sky;

      .link-menu__icon {
        stroke: $color-sky;
      }

      .link-menu__text {
        color: $color-sky;
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__button {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;

    @include viewport--md {
      display: block;
    }
  }

  &__burger {
    display: none;

    @include viewport--md {
      position: relative;
      width: 26px;
      height: 20px;
      display: block;
      top: -70px;

      &::before,
      &::after,
      span {   
        content: "";
        position: absolute;
        width: 26px;
        height: 2px;
        background-color: $color-nero;
      }
    
      &::before {
        top: 9px;
      }
    
      &::after {
        bottom: 0;
      }

      &.active::before {
        transform: rotate(45deg);
        top: 8px;
        transition: transform .3s;
      }

      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: transform .3s;
      }

      &.active span {
        display: none;
      }
    }
  }

  &.active {
    transform: translateX(0px);

    .menu__logo {
      display: flex;

      span {
        display: flex;
      }
    }
  
    .link-menu__text {
      display: flex;
    }

    .menu__category {
      width: 100%;
    }
  }
}

.link-menu {
  display: flex;
  align-items: center;
  outline: none;

  @media (hover: hover), screen and (min-width: 0\0) {

    &:hover,
    &:focus {

      .link-menu__icon {
        stroke: $color-sky;
      }

      .link-menu__text {
        color: $color-sky;
      }
    }
  }

  &__icon {
    margin: 0 10px 0 0;
    stroke: $color-default-black;

    transition: stroke $default-transition-settings;

    @include viewport--sm {
      display: none;
    }
  }

  &__text {
    font-weight: 600;
    line-height: 22px;

    transition: color $default-transition-settings;

    @include viewport--md {
      display: none;
    }
  }
}