include pug/mixins

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/style.min.css")
        title store
    body
        .wrapper
            include pug/menu
            include pug/header
            main.main.container
                include pug/catalog
                include pug/health
                include pug/beauty
                include pug/recreation
                include pug/auto
        script(src="js/bundle.min.js") 
            