.catalog.main-content.active(data-menu="catalog")
    +mainCard('пробка на мира', 'Вечер для двоих', '-50%', 'СКИДКА', 'card-img-1.webp', 'card-img-1@2x.webp', 'card-img-1.png', 'card-img-1@2x.png') 
    +mainCard('кИНО И НЕМЦЫ', 'Бесплатный бокал пива', 'ВАРВАР', 'ПРОМОКОД', 'card-img-2.webp', 'card-img-2@2x.webp', 'card-img-2.png', 'card-img-2@2x.png') 
    +mainCard('valery cakes', 'Торт', '30%', 'СКИДКА', 'card-img-3.webp', 'card-img-3@2x.webp', 'card-img-3.png', 'card-img-3@2x.png') 
    +mainCard('sushi sell', 'Набор “Праздник”', '45%', 'СКИДКА', 'card-img-4.webp', 'card-img-4@2x.webp', 'card-img-4.png', 'card-img-4@2x.png') 
    +mainCard('mangosteen', 'Фрукт в подарок', 'J130', 'купон', 'card-img-5.webp', 'card-img-5@2x.webp', 'card-img-5.png', 'card-img-5@2x.png') 
    +mainCard('теленок табака', 'Стейк “Мачете”', '20% ', 'СКИДКА', 'card-img-6.webp', 'card-img-6@2x.webp', 'card-img-6.png', 'card-img-6@2x.png') 
    +mainCard('fire food', 'Вторая шаурма в подарок', 'ОГОНЬ', 'промокод', 'card-img-7.webp', 'card-img-7@2x.webp', 'card-img-7.png', 'card-img-7@2x.png') 
    +mainCard('aroma cremeria', 'Джелато “Пармезан”', '20%', 'СКИДКА', 'card-img-8.webp', 'card-img-8@2x.webp', 'card-img-8.png', 'card-img-8@2x.png')
    +mainCard('пробка на мира', 'Вечер для двоих', '-50%', 'СКИДКА', 'card-img-1.webp', 'card-img-1@2x.webp', 'card-img-1.png', 'card-img-1@2x.png') 
    +mainCard('кИНО И НЕМЦЫ', 'Бесплатный бокал пива', 'ВАРВАР', 'ПРОМОКОД', 'card-img-2.webp', 'card-img-2@2x.webp', 'card-img-2.png', 'card-img-2@2x.png') 
    +mainCard('valery cakes', 'Торт', '30%', 'СКИДКА', 'card-img-3.webp', 'card-img-3@2x.webp', 'card-img-3.png', 'card-img-3@2x.png') 
    +mainCard('sushi sell', 'Набор “Праздник”', '45%', 'СКИДКА', 'card-img-4.webp', 'card-img-4@2x.webp', 'card-img-4.png', 'card-img-4@2x.png')  