mixin mainCard(title, sign, discount, service, webp, webp2, path, path2)
    .main-card 
        .main-card__text
            .main-card__head 
                h2.main-card__title= title
                p.main-card__sign= sign
            .main-card__offer 
                span.main-card__discount= discount 
                p.main-card__service= service
        .main-card__img
            picture 
                source(srcset="img/" + webp + " 1x" + "," + "img/" + webp2 + " 2x" type="image/webp")
                img(src="img/" + path srcset="img/" + path2 + " 2x")